body {
    padding-bottom: 20px;
    background: #E6E6E6;
    font-family:Pacifico;
}

.page-header { 
    color:darkslategray;
    margin-top: 20px;
    background-color:white;
    padding-top:.5%;
    padding-right:2%;
    padding-left:2%;
    border-radius:7px;
}
.page-header h1 small { margin-left: 20px; }

.espace-top-lg { margin-top: 40px; }
.espace-top-md { margin-top: 20px; }
.text-lg { font-size: 20px; }

/*
 * Tic Tac Toe
 */
.ttt-hidden { visibility: hidden; }

.ttt-table {
    margin: 20px auto;
}
.ttt-table td {
    border: 1px solid #ccc;
    line-height: 1;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}
.ttt-table td,
.ttt-table td a {
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    background: #fff;
    padding: 0;
}
.ttt-table td a {
    display: block;
    color: #eee;
    text-decoration: none;
}
.ttt-table td .ttt-user {
    color: slategrey;
}
.ttt-table td .ttt-computer {
    color: slategray;
}
.ttt-table td a:hover .ttt-nobody:before {
    display: block;
    content: "--";
    line-height: 100px;
}
